# assignment 1

In [1]:
data = []

In [2]:
x = int(input("how many values you want to get:"))

for i in range(x):
    name=input("enter you name:")
    age=input("enter your age:")
    work=input("enter your work:")
    skills=input("enter your skills:")
    degree=input("enter your dagrees:")
    salary=input("enter your salary:")
    data.append([name,age,work,skills,degree,salary])
    print(i)
    
    print("*"*30)

how many values you want to get:3
enter you name:"hamza ali"
enter your age:25
enter your work:"A.I"
enter your skills:["python","tensorflow"]
enter your dagrees:{"title","BS"}
enter your salary:259999
0
******************************
enter you name:"farooq aziz"
enter your age:27
enter your work:"cloud native"
enter your skills:["ubunto","docker"]
enter your dagrees:{"title":"MS"}
enter your salary:200000
1
******************************
enter you name:"abu bakr"
enter your age:30
enter your work:"blockchain"
enter your skills:["python","cryptogrraphy"]
enter your dagrees:{"title":"BS"}
enter your salary:300000
2
******************************

In [3]:
print(data)

[['"hamza ali"', '25', '"A.I"', '["python","tensorflow"]', '{"title","BS"}', '259999'], ['"farooq aziz"', '27', '"cloud native"', '["ubunto","docker"]', '{"title":"MS"}', '200000'], ['"abu bakr"', '30', '"blockchain"', '["python","cryptogrraphy"]', '{"title":"BS"}', '300000']]

# assignment 2

In [ ]:
for i in range(1,11):
    table_value=input("enter your value:")
    print(f"{table_value}*{i}={i*table_value}")

In [ ]:
for i in range(1,11):
    table_value=input("enter your value:")
    print(f"{table_value}*{i}={i*table_value}")

In [ ]:
for i in range(1,11):
    table_value=input("enter your value:")
    print(f"{table_value}*{i}={i*table_value}")

In [9]:
table_value=int(input("enter your value:"))

for i in range(1,11):
    print(f"{table_value} * {i}={i * table_value}")

enter your value:5
5 * 1=5
5 * 2=10
5 * 3=15
5 * 4=20
5 * 5=25
5 * 6=30
5 * 7=35
5 * 8=40
5 * 9=45
5 * 10=50

In [13]:
first_table = int(input("enter the starting value:"))
last_table =  int(input("enter the last value:"))
print("\n")
for j in range(1,11):
    for i in range(first_table,last_table+1):
        print("{} x {} ={}".format(i,j,i*j), end="\t")
    print("\n")

enter the starting value:5
enter the last value:10


5 x 1 =5	6 x 1 =6	7 x 1 =7	8 x 1 =8	9 x 1 =9	10 x 1 =10

5 x 2 =10	6 x 2 =12	7 x 2 =14	8 x 2 =16	9 x 2 =18	10 x 2 =20

5 x 3 =15	6 x 3 =18	7 x 3 =21	8 x 3 =24	9 x 3 =27	10 x 3 =30

5 x 4 =20	6 x 4 =24	7 x 4 =28	8 x 4 =32	9 x 4 =36	10 x 4 =40

5 x 5 =25	6 x 5 =30	7 x 5 =35	8 x 5 =40	9 x 5 =45	10 x 5 =50

5 x 6 =30	6 x 6 =36	7 x 6 =42	8 x 6 =48	9 x 6 =54	10 x 6 =60

5 x 7 =35	6 x 7 =42	7 x 7 =49	8 x 7 =56	9 x 7 =63	10 x 7 =70

5 x 8 =40	6 x 8 =48	7 x 8 =56	8 x 8 =64	9 x 8 =72	10 x 8 =80

5 x 9 =45	6 x 9 =54	7 x 9 =63	8 x 9 =72	9 x 9 =81	10 x 9 =90

5 x 10 =50	6 x 10 =60	7 x 10 =70	8 x 10 =80	9 x 10 =90	10 x 10 =100

In [36]:
first_table = int(input("enter the starting value:"))
last_table =  int(input("enter the last value:"))
print("\t")

for j in range(first_table,last_table+1):
    for i in range(1,11):
        print("{} x {} ={}".format(i,j,i*j))
    print("\t")

enter the starting value:5
enter the last value:10

1 x 5 =5
2 x 5 =10
3 x 5 =15
4 x 5 =20
5 x 5 =25
6 x 5 =30
7 x 5 =35
8 x 5 =40
9 x 5 =45
10 x 5 =50

1 x 6 =6
2 x 6 =12
3 x 6 =18
4 x 6 =24
5 x 6 =30
6 x 6 =36
7 x 6 =42
8 x 6 =48
9 x 6 =54
10 x 6 =60

1 x 7 =7
2 x 7 =14
3 x 7 =21
4 x 7 =28
5 x 7 =35
6 x 7 =42
7 x 7 =49
8 x 7 =56
9 x 7 =63
10 x 7 =70

1 x 8 =8
2 x 8 =16
3 x 8 =24
4 x 8 =32
5 x 8 =40
6 x 8 =48
7 x 8 =56
8 x 8 =64
9 x 8 =72
10 x 8 =80

1 x 9 =9
2 x 9 =18
3 x 9 =27
4 x 9 =36
5 x 9 =45
6 x 9 =54
7 x 9 =63
8 x 9 =72
9 x 9 =81
10 x 9 =90

1 x 10 =10
2 x 10 =20
3 x 10 =30
4 x 10 =40
5 x 10 =50
6 x 10 =60
7 x 10 =70
8 x 10 =80
9 x 10 =90
10 x 10 =100